<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/books/create">Create Book</a>
    <table border="1">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td></td>
        </tr>
        <tr th:each="item : ${books}">
            <td th:text="${item.Id}"></td>
            <td th:text="${item.Name}"></td>
            <td>
                <a th:href="|/books/edit?book_id=${item.Id}|">Edit</a>
                <a th:href="|/books/delete?book_id=${item.Id}|">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>